
<div [ngClass]="loveIts > 0 ? {'list-group-item-success': true}: {'list-group-item-danger': true}">
<div [ngClass]="{'list-group-item': loveIts === 0 }">

    <div class="row">
        <div class="col-md-6"><strong>{{ title }}</strong></div><div class="col-md-6">{{ created_at | date:'dd/LL/yyyy à hh:mm' }}</div>
    </div>
    <p></p>
    <p>{{ content }}</p>
    <p>&nbsp;<img src="https://365psd.com/images/previews/cd5/heart-shape-button-and-icon-psd-52996.jpg" alt="Love its" width="30px" height="auto" /> {{ loveIts }}</p>
    <button class="btn btn-success" (click)="loveIts = loveIts + 1">I love it !</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-danger" (click)="loveIts = loveIts - 1">I don't love it.</button>
</div>
</div>