

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Mon fake blog Angular</h1>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>     
            <div class="col-md-6">
                <br /><br /><br /><br />
                <div class="row">
                    <button type="button" class="btn btn-primary" (click)="onToggleBox()">
                        {{ buttonText }}
                    </button>
                </div>
                <br /><br />
                <div class="row">
                    <h3>Liste des posts</h3>
                </div>
                <p></p>
                
                <!-- myBox -->
                <div class="panel panel-default" [hidden]="!myBox">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">

                            <h5>Titre: <input class="modal-title" id="postTitle" placeholder="Titre du post" [(ngModel)]="newTitle" /></h5>

                        </div>
                        <div class="modal-body">
                            <div class="form-group">

                                <label for="myTextarea1">Contenu:</label>
                                <textarea class="form-control rounded-0" id="myTextarea1" rows="10" [(ngModel)]="newContent" ></textarea>

                            </div>                         
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="onToggleBox()">Fermer</button>
                            <button type="button" class="btn btn-primary" (click)="onNewPost()">Valider</button>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- Fin myBox -->

                <app-post-list-component [postsList]="postsList"></app-post-list-component>
            </div>
        <div class="col-md-3"></div>
    </div>
</div>
