<div *ngFor="let post of postsList">
    <ul class="list-group">
        <app-post-list-item-component [title]="post.title" [content]="post.content" [loveIts]="post.loveIts" [created_at]="post.created_at"></app-post-list-item-component>
    </ul>
</div>

